// Colors
// -----------------------------------------------------------------------------
// Change the color variables once at the top, or change elements individually
// below. Colors are typically Hex values, or one of 140 standard color names/



$brown: #2a1900;
$black: #000000;
$off-black: $brown;
$gray: #CCCCCC;
$white: #ffffff;
$off-white: #fefbf9;
$red: #CF6747;
$blue: #52778a;
$light-blue: #5e8a9f;
$light-yellow: #F9F9A3;
$off-black-semi-transparent: rgba(0, 0, 0, .5);
$black-semi-transparent: rgba(0, 0, 0, 0.75);
$rich-black: cmyk(50%, 50%, 50%, 100%);
$orange: #9B4D2B; // probably don't use.

$link-color: $blue;
$link-visited-color: #f0f;
$link-active-color: #d27c00