/*
 * Custom CSS Table of Contents
 *
 *   1. Japanese Text styles (if needed)
 *   2. 
 */


/*=========================================================
 # 1. If using Japanese text and using a Japanese typeface
 # uncomment below :lang(ja) selector and properties.
 # Tweak as necessary, but the rule below should be a
 # good starting point.
 #
 # This style assumes we are marking up Japanese text
 # with appropriate lang="ja" attributes, which we should
 # be doing anyway.
 ========================================================*/ 
/* // BEGIN :lang(ja) selector
:lang(ja) {
  // typeface declarion
  font-family: $typeface-zenkaku;
  // prevent italics for Japanese text
  font-style: normal !important;
  // Line break setting for Japanese text in English surrounding context
  word-break: keep-all;
  // reset any site-wide font customizations for Japanese text
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  font-feature-settings: normal;

  // Adjust font-size and line-height to blend with Latin typeface.
  // Example below to use as a starting point (will likely need to be tweaked)
  // May need to customize for headers and other differing text formats
  // Goal is to make character height match English text height while preserving
  // line-height of the surrounding context
  // Below example is based on line-height of 1.4 for English text
  font-size: 0.9em;
  line-height: 1.55555;

  @media print {
    word-break: break-word;
  }
}
*/ // END :lang(ja) selector

/* Why are basic things so difficult to override? Why is Quire CSS so wildly overdefined?
*/
/*------------------------------------------------------------------------
 * Navbar customizations
 * Removed overly broad * selector in quire-navbar.scss
 -----------------------------------------------------------------------*/
.quire-navbar {
  text-shadow:0 0.08333em 0.16667em rgba(0,0,0,0.3);

  .quire-navbar-controls {
    .quire-navbar-button {
      text-shadow:0 0.08333em 0.16667em rgba(0,0,0,0.3);
      color: inherit;

      &:hover {
        color: $quire-navbar-hover-text-color;
      }
    }

    .quire-navbar-controls__left {
      .logo {
        a {
          max-height:100%;

          img {
            height:2.5rem;
            width:auto;
            margin: .25rem 0 0 .5rem;
            max-width:100%;
          }

          &:hover {
            color: $off-white;
            background-color: $blue;
          }
        }
      }
    }
  }
  .quire-navbar-page-controls {
    &__item{
      &.quire-previous-page {
        padding-right: 1rem;
      }
      &.quire-next-page {
        padding-left: 1rem;
        position: relative;

        a {
          &::before {
            color: $white;
            content: '|';
            position: absolute;
            left:-.125rem;
            z-index: 10;
          }
        
          &:hover {
            &::before {
              color: $white;
            }
          }
        }
      }
    }
  }
}

/*
.quire-menu__formats h6 {
  color:$red;
  border-color:$red;
}
*/

.hero-body .container.is-fluid {
  background: rgba(0,0,0,.7);
}

/*------------------------------------------------------------------------
 * Page customizations
 -----------------------------------------------------------------------*/
// Quire's (and Bulma's) misunderstanding of CSS specificity strikes again.
// Consequently, this selector is wildly overdefined now.
// The more time I spend in Quire, the more I want to forcibly strip out
// all of the CSS (especially Bulma) and start over.
.quire-page .quire-page__content .container.is-fluid .content {
  .dam-credit-line {
    font-family: $quire-footnotes-font;
    font-size: 1.125rem;
    line-height: $quire-backmatter-line-height;

    &.page-end {
      margin-top: 2rem;
    }
  }
}
.quire-page {
  .accordion-section {
    .accordion-section__heading {
      background-color: $blue;
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      justify-content: flex-start;

      & > h2 {
        color: $off-white;
        padding: .5em;
      }
    }
    &__controls--arrow {
      &::after {
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fefbf9'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");;
        color: $off-white;
        height: auto; // Quire's CSS is so wildly overspecified it's ridiculous
        margin-left:0;
        padding: .5em 0 .5em .875rem;
      }
    }
    &[open] {
      > .accordion-section__controls--arrow::after {
      }
    }
  }
}
.quire-essay {
  .quire-page {
    &__header {
      &.hero {

        .hero-body {
          color: $content-text-color;

          .quire-page__header__title {
            color: $content-text-color;
            max-width: 54ch;
            margin: 0 auto;
          }

          .quire-page__header__contributor {
            font-family: "Noto Sans";
            font-size: px-to-rem(24px);
            font-style: normal;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.quire-page__content {
  .container { 
    .content {
      .backmatter {
        font-size: 1.25rem;
        margin-top: 3rem;
        h2 {
          font-size: 1.25em;
          margin: 1.6em 0 1em;
        }
      }
      .footnotes {
        font-size:1.125rem;

        .footnotes-list {
          .footnote-item {
            max-width: 68ch;
          }
        }
      }
    }
  }
}

.about-logo {
  height: auto;
  margin: 3rem 0 4rem;
  max-width: 100%;
}

/* ToC page
 * Also made changes to _includes/components/table-of-contents/item/list.js
 * Original markup needed to change
 * Overly broad * selector commented out in quire-contents-list.scss as well
 ************************************************************************/
.quire-contents {
  .quire-page__content {
    .container {
      max-width:38em;
    }
  }
}

.quire-contents-list {
  &.list {
    font-family: $quire-navigation-font;

    .table-of-contents {
      .table-of-contents-list {
        a {
          .contents-page-title {
            font-size: 1.125em;
            font-weight: 600;
          }
          .contributor {
            color: $content-text-color;
            display: block;
            font-style: normal;
      
            &::before {
              content: "by";
              display: inline-block;
              margin: 0 .25em 0 1em;
            }
          }

          &:hover {
            .contents-page-title {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

