/*
 * Custom CSS Table of Contents
 *
 *   1. Japanese Text styles (if needed)
 *   2. 
 */


/*=========================================================
 # 1. If using Japanese text and using a Japanese typeface
 # uncomment below :lang(ja) selector and properties.
 # Tweak as necessary, but the rule below should be a
 # good starting point.
 #
 # This style assumes we are marking up Japanese text
 # with appropriate lang="ja" attributes, which we should
 # be doing anyway.
 ========================================================*/ 
/* // BEGIN :lang(ja) selector
:lang(ja) {
  // typeface declarion
  font-family: $typeface-zenkaku;
  // prevent italics for Japanese text
  font-style: normal !important;
  // Line break setting for Japanese text in English surrounding context
  word-break: keep-all;
  // reset any site-wide font customizations for Japanese text
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  font-feature-settings: normal;

  // Adjust font-size and line-height to blend with Latin typeface.
  // Example below to use as a starting point (will likely need to be tweaked)
  // May need to customize for headers and other differing text formats
  // Goal is to make character height match English text height while preserving
  // line-height of the surrounding context
  // Below example is based on line-height of 1.4 for English text
  font-size: 0.9em;
  line-height: 1.55555;

  @media print {
    word-break: break-word;
  }
}
*/ // END :lang(ja) selector

/* Why are basic things so difficult to override? Why is Quire CSS so wildly overdefined?
*/
/*------------------------------------------------------------------------
 * Navbar customizations
 * Removed overly broad * selector in quire-navbar.scss
 -----------------------------------------------------------------------*/
.quire-navbar {
  text-shadow:0 0.08333em 0.16667em rgba(0,0,0,0.3);

  .quire-navbar-controls {
    .quire-navbar-button {
      text-shadow:0 0.08333em 0.16667em rgba(0,0,0,0.3);
      color: inherit;

      &:hover {
        color: $quire-navbar-hover-text-color;
      }
    }
  }
  .quire-navbar-page-controls {
    &__item{
      &.quire-previous-page {
        padding-right: 1rem;
      }
      &.quire-next-page {
        padding-left: 1rem;
        position: relative;

        a {
          &::before {
            color: $white;
            content: '|';
            position: absolute;
            left:-.125rem;
            z-index: 10;
          }
        
          &:hover {
            &::before {
              color: $white;
            }
          }
        }
      }
    }
  }
}