// =============================================================================
// Fonts.scss
// -----------------------------------------------------------------------------
// Custom font declarations (if any) can be imported here
// ! Comment out the entries you don't need.
// ! Delete font files that aren't used.

// Utility function definition
$assets-dir: "/_assets/" !default;

@function font($file) {
  @return url($assets-dir + 'fonts/' + $file);
}
// end Utility

////
// Inter Variable
// https://github.com/rsms/inter
// Open Font License 1.1 (https://scripts.sil.org/OFL)
// 
// InterVariable
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: font("inter/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: font("inter/InterVariable-Italic.woff2") format("woff2");
}

////
// Montserrat Variable
// https://github.com/fontsource/font-files/tree/main/fonts/google/montserrat
// Open Font License 1.1 (https://scripts.sil.org/OFL)
// 
// Montserrat Variable
//
// This is a Google font so it's split up into character sets. Basic Latin is included
// by default. Uncomment any other character sets you may need.

// Montserrat Latin
// Latin includes characters for use in latin alphabet-using languages, including:
//  Aromanian, Afrikaans, Albanian, Asturian, Aymara, Basque, Breton, Catalan, 
//  Cebuano, Corsu, Danish, Dutch, English, Estonian, Fijian, Finnish, French,
//  Gaelic, Galician, German, Gilbertese, Haitian, Hiligaynon, Icelandic, Irish,
//  Italian, Khasi, Latin (like, actual Latin), Lombard, Luxembourgish, Malay,
//  Norwegian, Piedmontese, Portuguese, Quechua, Sardinian, Sicilian, Shona, Spanish,
//  Swahili, Swedish, Tagalog (Filipino)
//
// Some of the above listed languages are basically covered by ASCII, but we don't
// have a file just for ASCII.
@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: font("montserrat/latin-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
// Latin Italic
@font-face {
  font-family: 'Montserrat Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: font("montserrat/latin-wght-italic.woff2") format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

// Montserrat Latin Extended
// Latin1-Extended-A and Latin1-Extended-B, excluding Vietnamese, which is broken
// out into its own files further below)
//
// What's in Latin Extended you ask? Basically, character ranges for certain
// latin alphabet-using languages not fully covered by the common Latin set:
//   Azeri, Crimean Tatar, Czech, Esperanto, Friulian, Gagauz, Guaraní, Hawaiian,
//   Hungarian, Kazakh, Latvian, Lithuanian, Maltese, Maori, Polish, Romani, Romanian,
//   Sami, Serbo-Croation, Slovak, Slovene, Tatar, Turkish, Turkmen, Welsh
//
// May also include some African languages:
//   Bari, Bambara, Berber (Tuareg), Chichewa (Chewa), Dagbani, Dinka, Fula, Hausa,
//   Igbo, Malagasy, Pan-Nigerian, Wolof, Yoruba
//
// May also include some almost-vanished languages, pinyins, and dead languages.
// (Not listed here because it's super long and not really that helpful. If you're
// missing some characters, you'll notice it and then include this set to see if it
// fixes the problem)
//
// May also include some commonly used characters in transliteration, so if we
// make a publication with lots of Pinyin transliterations (or similar), I guess
// include Latin Extended?
//
/* Comment out unless you need something from of the languages listed above
@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: font("montserrat/latin-ext-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
// Latin Extended Italic
@font-face {
  font-family: 'Montserrat Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: font("montserrat/latin-ext-wght-italic.woff2") format('woff2-variations');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
*/

// Montserrat Vietnamese
//
// Mostly extended latin characters (yes, more) but specifically for use with Vietnamese.
//
/* Probably not going to need most of the time
@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: font("montserrat/vietnamese-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}
// Vietnamese Italic
@font-face {
  font-family: 'Montserrat Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: font("montserrat/vietnamese-wght-italic.woff2") format('woff2-variations');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}
*/

// Montserrat Cyrillic
//
/* Probaby not going to need most of the time
@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: font("montserrat/cyrillic-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
// Cyrillic Italic
@font-face {
  font-family: 'Montserrat Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: font("montserrat/cyrillic-wght-italic.woff2") format('woff2-variations');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
*/

// Montserrat Cyrillic Extended
//
/* Probably not going to need most of the time
@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: font("montserrat/cyrillic-ext-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
// Cyrillic Extended Italic
@font-face {
  font-family: 'Montserrat Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: font("montserrat/cyrillic-ext-wght-italic.woff2") format('woff2-variations');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
*/

////
// Raleway
//
// This is another Google font so it's another font broken up by character sets.
// Look at the Montserrat entries above for explanations of which languages are
// covered by which character sets.
//
// Raleway Variable

// Raleway Latin
/*
@font-face {
  font-family: 'Raleway Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: font("raleway/latin-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face {
  font-family: 'Raleway Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: font("raleway/latin-wght-italic.woff2") format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
*/

// Raleway Latin Extended
/*
@font-face {
  font-family: 'Raleway Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: font("raleway/latin-ext-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
@font-face {
  font-family: 'Raleway Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: font("raleway/latin-ext-wght-italic.woff2") format('woff2-variations');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
*/

// Raleway Vietnamese
/*
@font-face {
  font-family: 'Raleway Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: font("raleway/vietnamese-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}
@font-face {
  font-family: 'Raleway Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: font("raleway/vietnamese-wght-italic.woff2") format('woff2-variations');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}
*/

// Raleway Cyrillic
/*
@font-face {
  font-family: 'Raleway Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: font("raleway/cyrillic-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
@font-face {
  font-family: 'Raleway Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: font("raleway/cyrillic-wght-italic.woff2") format('woff2-variations');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
*/

// Raleway Cyrillic Extended
/*
@font-face {
  font-family: 'Raleway Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: font("raleway/cyrillic-ext-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
@font-face {
  font-family: 'Raleway Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: font("raleway/cyrillic-ext-wght-italic.woff2") format('woff2-variations');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
*/


////
// Zen Kaku Gothic New
// https://github.com/googlefonts/zen-kakugothic
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// You'd be surprised how often we need Japanese text in our publications.
// 
// lang('ja') { font-family: Zen Kaku Gothic New; } 
// Be sure to markup Japanese text appropriately
//

/*
// Zen Kaku Gothic New weight 300 (light)
// Good for type sizes between 14–18px
@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: font("zen-kaku-gothic-new/japanese-300-normal.woff2") format('woff2'), font("zen-kaku-gothic-new/japanese-300-normal.woff") format('woff');
}
*/
/*
// Zen Kaku Gothic New weight 400 (normal)
// Usable for type sized 16px–18px. Best at 20px or larger
@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: font("zen-kaku-gothic-new/japanese-400-normal.woff2") format('woff2'), font("zen-kaku-gothic-new/japanese-400-normal.woff") format('woff');
}
*/
/*
// Zen Kaku Gothic New weight 700 (bold)
// Pretty hard to read below 20px
@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: font("zen-kaku-gothic-new/japanese-700-normal.woff2") format('woff2'), font("zen-kaku-gothic-new/japanese-700-normal.woff") format('woff');
}
*/
/*
// Zen Kaku Gothic New Latin characters at same weight as above.
// Probably never need, but here just in case we really want to match English and Japanese text.
@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: font("zen-kaku-gothic-new/latin-300-normal.woff2") format('woff2'), font("zen-kaku-gothic-new/latin-300-normal.woff") format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: font("zen-kaku-gothic-new/latin-400-normal.woff2") format('woff2'), font("zen-kaku-gothic-new/latin-400-normal.woff") format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: font("zen-kaku-gothic-new/latin-700-normal.woff2") format('woff2'), font("zen-kaku-gothic-new/latin-700-normal.woff") format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
*/

////
// IBM Plex Sans Condensed
// https://github.com/IBM/plex
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// Commented out by default because it's a plain-ass looking font.
// Weird choice, Getty.
// TODO: Get rid of this font everywhere it is used
//
// IBM Plex Sans Condensed Regular
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: font("ibm-plex-sans-condensed/ibmplexsanscondensed-regular.eot");
  src: font("ibm-plex-sans-condensed/ibmplexsanscondensed-regular.eot?#iefix") format("embedded-opentype"),
       font("ibm-plex-sans-condensed/ibmplexsanscondensed-regular.woff2") format("woff2"),
       font("ibm-plex-sans-condensed/ibmplexsanscondensed-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// IBM Plex Sans Condensed Italic
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: font("ibm-plex-sans-condensed/ibmplexsanscondensed-italic.eot");
  src: font("ibm-plex-sans-condensed/ibmplexsanscondensed-italic.eot?#iefix") format("embedded-opentype"),
       font("ibm-plex-sans-condensed/ibmplexsanscondensed-italic.woff2") format("woff2"),
       font("ibm-plex-sans-condensed/ibmplexsanscondensed-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

// IBM Plex Sans Condensed Bold
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: font("ibm-plex-sans-condensed/ibmplexsanscondensed-bold.eot");
  src: font("ibm-plex-sans-condensed/ibmplexsanscondensed-bold.eot?#iefix") format("embedded-opentype"),
       font("ibm-plex-sans-condensed/ibmplexsanscondensed-bold.woff2") format("woff2"),
       font("ibm-plex-sans-condensed/ibmplexsanscondensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// IBM Plex Sans Condensed Bold Italic
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: font("ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.eot");
  src: font("ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.eot?#iefix") format("embedded-opentype"),
       font("ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.woff2") format("woff2"),
       font("ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

////
// Noto Serif
// https://github.com/googlei18n/noto-fonts
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// Noto is… fine… I guess. Pretty unassuming typeface.
// One thing Noto has going for it is it's absurdly wide character support.
// If you want a consistent looking typeface for like a hundred different
// languages, this is probably your best (maybe only) option.
//
// We don't use it much, because it's as boring as Helvetica.
//
// Noto Serif Regular
@font-face {
  font-family: "Noto Serif";
  src: font("noto-serif/notoserif-regular.eot");
  src: font("noto-serif/notoserif-regular.eot?#iefix") format("embedded-opentype"),
       font("noto-serif/notoserif-regular.woff2") format("woff2"),
       font("noto-serif/notoserif-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// Noto Serif Italic
@font-face {
  font-family: "Noto Serif";
  src: font("noto-serif/notoserif-italic.eot");
  src: font("noto-serif/notoserif-italic.eot?#iefix") format("embedded-opentype"),
       font("noto-serif/notoserif-italic.woff2") format("woff2"),
       font("noto-serif/notoserif-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

// Noto Serif Bold
@font-face {
  font-family: "Noto Serif";
  src: font("noto-serif/notoserif-bold.eot");
  src: font("noto-serif/notoserif-bold.eot?#iefix") format("embedded-opentype"),
       font("noto-serif/notoserif-bold.woff2") format("woff2"),
       font("noto-serif/notoserif-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// Noto Serif Bold Italic
@font-face {
  font-family: "Noto Serif";
  src: font("noto-serif/notoserif-bolditalic.eot");
  src: font("noto-serif/notoserif-bolditalic.eot?#iefix") format("embedded-opentype"),
       font("noto-serif/notoserif-bolditalic.woff2") format("woff2"),
       font("noto-serif/notoserif-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

////
// Noto Sans
// https://github.com/googlei18n/noto-fonts
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// Noto Sans Regular
@font-face {
  font-family: "Noto Sans";
  src: font("noto-sans/notosans-regular.eot");
  src: font("noto-sans/notosans-regular.eot?#iefix") format("embedded-opentype"),
       font("noto-sans/notosans-regular.woff2") format("woff2"),
       font("noto-sans/notosans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// Noto Sans Italic
@font-face {
  font-family: "Noto Sans";
  src: font("noto-sans/notosans-italic.eot");
  src: font("noto-sans/notosans-italic.eot?#iefix") format("embedded-opentype"),
       font("noto-sans/notosans-italic.woff2") format("woff2"),
       font("noto-sans/notosans-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

// Noto Sans Bold
@font-face {
  font-family: "Noto Sans";
  src: font("noto-sans/notosans-bold.eot");
  src: font("noto-sans/notosans-bold.eot?#iefix") format("embedded-opentype"),
       font("noto-sans/notosans-bold.woff2") format("woff2"),
       font("noto-sans/notosans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// Noto Sans Bold Italic
@font-face {
  font-family: "Noto Sans";
  src: font("noto-sans/notosans-bolditalic.eot");
  src: font("noto-sans/notosans-bolditalic.eot?#iefix") format("embedded-opentype"),
       font("noto-sans/notosans-bolditalic.woff2") format("woff2"),
       font("noto-sans/notosans-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
