//$gap: 16px !default;
$gap: 1rem !default;
$tablet: 600px !default;
$desktop: 1024px !default;
// TODO: Get rid of $widescreen. Probably move styles to $desktop breakpoint
$widescreen: 1184 !default;
// TODO: find all $fullhd uses. Evaluate usefulness
$fullhd: 1376 !default; // This should probably be larger as well

.container {
  margin-left: $gap;
  margin-right: $gap;
  position: relative;
  &.is-fullhd {
    max-width: inherit;
    width: auto;
  }
  @include from($tablet) {
    margin-left: 0;
    margin-right: 0;
  }
  @include from($desktop) {
    margin: 0 auto;
    // TODO: Why is font-size ever set directly on .container and not its contents?
    max-width: $quire-page-content-width; 
    &.is-fluid {
      margin-left: 4 * $gap;
      margin-right: 4 * $gap;
      max-width: none;
      width: auto;
    }
  }
}