// =============================================================================
// Quire-citation.scss
// -----------------------------------------------------------------------------

// .quire-citation
// -----------------------------------------------------------------------------
.quire-citation {
  position: relative;
  text-indent: 0;
  .quire-page__content .content blockquote & { font-style: normal; }
  .quire-page__content .content blockquote & em { font-style: italic; }
  &__button {
    border: none;
    padding: 0;
    font-size: 1em;
    background-color: inherit;
    font-family: inherit;
    font-style: normal;
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: $content-link-color;
    text-underline-offset: .25rem;

    @media print { text-decoration: none; }
    &:hover {
      color: $content-link-active-color;
      text-decoration-color: $content-link-active-color;
      text-decoration-style: solid;
    }
    &--icon {
      border-bottom-width: 0;
      margin-left: 2px;
      svg {
        @if $theme == classic {
          fill: $black;
        } @else {
          fill: $content-link-color;
        }
        width: 1em;
        height: 1em;
        pointer-events: none;
      }
      &:hover {
        border-bottom-width: 0;
      }
    }
    em, strong {
      pointer-events: none;
    }
  }
  .quire-citation__content {
    font-size: 0.875em;
    font-style: normal;
    line-height: 1.5;
    background-color: $white;
    color: $off-black;
    padding: 1rem;
    position: absolute;
    width: 400px;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-200px);
    -webkit-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
    -moz-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
    box-shadow: 0px 0px 6px 0px $black-semi-transparent;
    @include animation(.25s ease-out 0s 1 fadeIn);
    @media screen and (max-width: $desktop) {
      width: 200px;
      right: 0;
      transform: translateX(-100px);
    }
  }
}
